Utility Project Files/SonLVL INI Files/dllcache
Utility Project Files/SonLVL INI Files/SonLVL.log
Utility Project Files/SonPLN.log

MMD/Level/Salad Plain/Present/errors.log
MMD/Level/Salad Plain/Present/R11A.lst
MMD/Level/Salad Plain/Present/scdbuilt.bin
MMD/Level/Salad Plain/Present/scdbuilt.prev.bin